*.*~
Makefile
*.list
epm
setup
uninstall
*.o
*.debug
config.h
config.log
config.status
epminstall
libepm.a
mkepmlist
uninst
linux-2.6*/*
doc/epm-book.html
autom4*
*.log
setup_cli
result
mantohtml
doc/epm.html
doc/epm.list.html
doc/epminstall.html
doc/mkepmlist.html
doc/setup.html
doc/setup.types.html
