Source: epm
Section: devel
Priority: optional
Maintainer: Jeff Licquia <licquia@debian.org>
Homepage: http://epmhome.org/
Vcs-Bzr: http://bzr.licquia.org/epm/debian/
Vcs-Browser: http://bzr.licquia.org/loggerhead/epm/debian/
Build-Depends: libfltk1.1-dev, libpng12-dev | libpng-dev, zlib1g-dev | libz-dev, libjpeg62-dev | libjpeg-dev, libxft-dev, libxinerama-dev, rpm, htmldoc, debhelper (>= 4), fluid
Build-Conflicts: autoconf2.13
Standards-Version: 3.7.3

Package: epm
Architecture: any
Depends: ${shlibs:Depends}
Description: Cross-platform package builder by Easy Software Products
 This package allows a developer to produce packages for several
 different platforms from a single specification.  Currently, Debian
 dpkg, RPM, AT&T/Solaris pkg, HP-UX depot/swinstall, and IRIX
 inst/tardist packages are supported, as well as a "portable" package
 that includes installation and removal scripts and a GUI setup
 program.
